<h1>Welcome</h1>

<div class="play-container">
    <p>The clickCounter is: {{ clickCounter }}.</p>
    <p><span (click)="countClick('p')">Add</span></p>
    <p><span (click)="countClick('m')">Minus</span></p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>     
        <strong>You said:</strong> {{ name }}
    </p>
</div>

<div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow':'lightgray' ">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p [ngStyle]="{
            'background-color': clickCounter > 5 ? 'red' : 'blue',
            'border':           clickCounter > 6 ? '4px solid black' : 'none'}
        ">
            The click counter is greater than 4
        </p>
    </ng-template>

    <ng-template #none>
        <p>
            The click counter is not greater than 4
        </p>
        <p [class.active]="clickCounter<=3">
            parrafo con clase
        </p>
        <p [ngClass]="setClasses()">
            parrafo con clases
        </p>
    </ng-template>
</div>
